<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet" />

    <!-- Normolize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <!-- Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.svg') }}"
      type="image/x-icon" />

    <title>{% block title %}{{ context.title }}{% endblock title %}</title>
  </head>

  <body>
    <header class="header">
      <div class="header-container container">
        <nav class="header-nav">
          <ul class="header-nav-list list">
            <li class="header-nav-item">
              <a href="./index.html" class="header-nav-link current link"
                >Главная</a
              >
            </li>
            <li class="header-nav-item">
              <a href="./portfolio.html" class="header-nav-link link">
                Результат
              </a>
            </li>
          </ul>

          <ul class="header-nav-list list">
            <li class="header-nav-item">
              <button
                type="button"
                class="header-nav-link link"
                data-modal-open>
                Расчитать
              </button>
            </li>
            <li class="header-nav-item">
              <button type="button" class="header-nav-link link">Печать</button>
            </li>
          </ul>
        </nav>

        <button
          class="header-mobile-menu js-menu-open"
          aria-expanded="false"
          aria-controls="mobile-menu">
          <svg class="icon" width="32" height="24">
            <use href="../static/img/icons.svg#icon-charm_menu-hamburger"></use>
          </svg>
        </button>
      </div>
    </header>

    <!-- <header>
      <nav class="navbar navbar-dark bg-primary fixed-top opacity-75">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-start text-bg-primary"
            tabindex="-1"
            id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >Главная</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/result">Результат</a>
                </li>
                <li>
                  <hr class="divider" />
                </li>
              </ul>

              <button
                type="button"
                class="btn btn-primary"
                onclick="javascript:window.print()">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit"> Печать </font>
                </font>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-printer-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"></path>
                  <path
                    d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header> -->

    <main>{% block content %} {% endblock content %}</main>
    <script src="../static/js/modal.js"></script>
  </body>
</html>
