{% extends 'base.html' %}

{% block title %}{{ context.title }}{% endblock title %}

{% block content %}

<div class="position-relative p-5 text-center rounded-5" style="margin-top:200px;">
    <h1 style="color:#FFFFFF;">Матрица личностей</h1>
    <p class="col-lg-6 mx-auto mb-4" style="color:#FFFFFF;"></p>
    <div class="container">
        {% for msg in get_flashed_messages() %}
        <div class="row g-3">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
            </div>
        </div>
        {% endfor %}
        <form action="/result" method="post" class="row g-3">
            <div class="row g-3 align-items-center mb-3 ">
                <div class="col-sm-2" style="color:#FFFFFF;">
                    <!--                    <label for="inputName" class="col-form-label">Имя</label>-->
                </div>
                <div class="col-sm-8">
                    <input type="text" name="name" id="inputName" class="form-control" aria-labelledby="nameHelpInline"
                           placeholder="Имя" required>
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2" style="color:#FFFFFF;">
                    <!--                    <label for="inputDate" class="col-form-label">Дата рождения</label>-->
                </div>
                <div class="col-sm-2">
                    <input type="text" name="day" id="inputDay" class="form-control" aria-labelledby="dateHelpInline"
                           placeholder="День" required>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="month" id="inputMonth" class="form-control"
                           aria-labelledby="dateHelpInline"
                           placeholder="Месяц" required>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="year" id="inputYear" class="form-control" aria-labelledby="dateHelpInline"
                           placeholder="Год" required>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="submit" class="btn btn-primary opacity-75">Получить результат</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}